.idea/
.vscode/

cmake-build-debug/
cmake-build-release/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
*.cmake
*.pc
install_manifest.txt
compile_commands.json

build.ninja

.ninja*

build/

.DS_store

nebula_sandbox
nebula_logs.txt
profiling.json